.mainHeader nav{
	/*background-color:#4573D5;*/
	background-color:#FFF;
	/*background: url("../pictures/navBackground.jpg")repeat;*/
	margin-top:65px;
	float:right;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit--border-radius: 5px;
}

.mainHeader nav ul {
	list-style:none;
	margin: 0 auto; /*so this will make the margin 2% from the image */
}


.mainHeader nav ul li {
	float: left;
	display: inline;
 	border-right: 2px solid gray;
}

.mainHeader nav ul li ul {
	/*display: none; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit--border-radius: 5px;*/
	/* may remove this line below */
	display: block;
	position: absolute;
	color: #FFF;
	background-color: #FFA07A;

	width:150px;
	margin: 0;
	padding: 0; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit--border-radius: 5px;
}

.mainHeader nav ul li ul li{
		border:none;
		
}

/*.mainHeader nav ul li:hover ul {
	display:block;
	position:absolute;
}*/


.mainHeader nav li li a:hover{
	background-color: #8db3ff;
	color:#FFF;
	width:100px;
}

.mainHeader nav ul li:hover li{
	float:none;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #2C3539;
	display: inline-block; 
	padding:10px 25px;
	height: 20px;/*will make the height according to the height of the highlighted*/
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background-color: #CF5C3F;
	color:#FFF;
	text-shadow:none; 
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit--border-radius: 5px;
}

@media only screen and (min-width: 150px) and (max-width: 600px)
	{
	.mainHeader nav{
	height: 200px; /*will make navigation bigger */
	}
	
	.mainHeader nav ul {
		padding: 0px; /*to start everything on left side with margin */
	}
	
	.mainHeader nav ul li {
		width: 100%;		
		border:none;
		text-align: center;
	}
	
	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding:10px 25px;
		height: 20px;
		display: block; /*makes the orange go across */
	}
	
}
