body {
  width: 75%;
  margin: 50px auto 0;
  font-size: 0.875em;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: #CF5C3F;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  color: #CF5C3F;
  font-family: 'Merriweather Sans', sans-serif;
}

.group {
  content: "";
  display: table;
  clear: both;
}

header {
  width: 100%;
}

header > div.top-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  margin: 0;
  padding: 0 0 0 2%;
  color: #FFF;
  font-size: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 50px;
  background-color: #2A4580;
}

header > div.top-bar strong {
  font-size: 30px;
}

header > img {
  width: 15%;
  height: auto;
  margin: 2% 0 1%;
}

header > nav {
  margin-top: 65px;
  float: right;
}

header > nav ul {
  list-style: none;
  margin: 0;
}

header > nav li {
  float: left;
  margin-left: 3px;
}

header > nav li:first-child {
  margin-left: 0;
}

header > nav li > a {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 5px;
  color: #2C3539;
}

header > nav li > a:hover,
header > nav li > a.active {
  color: #FFF;
  background-color: #CF5C3F;
}

header > nav + hr {
  margin-top: 0;
  clear: both;
}

#intro p {
  font-size: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

#intro p:first-child {
  font-size: 20px;
}

#intro em {
  font-style: normal;
  color: #CF5C3F;
}

footer {
  height: 40px;
  margin: 1.5% 0 1%;
  padding: 0 4%;
  line-height: 40px;
  color: #FFF;
  background-color: #2A4580;
  border-radius: 5px;
  clear: both;
}
